<form #loginForm="ngForm" (ngSubmit)="register()" class="form-signin mt-5">
  <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
  <label for="username" class="sr-only">UserName</label>
  <input type="text" id="username" class="form-control mt-3" placeholder="UserName" name="username" [(ngModel)]="model.username" required>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control mt-3" placeholder="Password" name="password" [(ngModel)]="model.password" required>
  <label for="inputPasswordCon" class="sr-only">Confirm Password</label>
  <input type="password" id="inputPasswordCon" class="form-control mt-3 mb-3" placeholder="Confirm Password" name="passwordCon" [(ngModel)]="passwordCon.password">
  <alert *ngIf="!checkPassword()" [type]="passwordConAlert.type" [dismissOnTimeout]="passwordConAlert.timeout">{{ passwordConAlert.msg }}</alert>
  <alert *ngFor="let error of errors" [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ error }}</alert>
  <div class="text-center mt-3 mb-3">
    <button class="btn btn btn-primary" type="submit">Register</button>
    <button routerLink="/home" class="btn btn-default">Cancel</button>
  </div>
  <alert *ngIf="success" type="success">Thanks for signing up!</alert>
</form>
